/* AskBazaar Style */

/* Common */
body{
    background-color: #FFFFFF;
    margin: 0;
    font-size: 12px;
}
p{margin:0;}
ul{ list-style: none; margin: 0; padding: 0;}
.top-space5{ margin-top: 5px; }
.bottom-space5{ margin-bottom: 5px; }
.top-bottom-space5{ margin-top: 5px; margin-bottom: 5px;}
.top-space10{ margin-top: 10px; }
.bottom-space10{ margin-bottom: 10px; }
.top-bottom-space10{ margin-top: 10px; margin-bottom: 10px;}
.left-space10{ margin-left: 10px; }
.left-space40{ margin-left: 40px; }
.right-space10{ margin-right: 10px; }
.right-space40{ margin-right: 40px; }
.centerText{ text-align: center; }

.ash_text11 {
    color: #646464;
    font-family: Arial;
    font-size: 11px;
}
.ash_text11_Bold {
    color: #646464;
    font-family: Arial;
    font-size: 11px;
}
.ash_text16_Bold {
    color: #646464;
    font-family: Arial;
    font-size: 16px;
}
.black_text11 {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
}
.black_text11_Bold {
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}
.black_text12 {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
}
.black_text12_BOLD {
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.green_text11_Bold {
    color: #008000;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}
.orange_text10 {
    color: #E46C0A;
    font-family: Arial;
    font-size: 10px;
}
.orange_text11_Bold {
    color: #E46C0A;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
}
.orange_text12_Bold {
    color: #E46C0A;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.orange_text14 {
    color: #E46C0A;
    font-family: Arial;
    font-size: 14px;
}
.orange_text16{
    color: #E46C0A;
    font-family: Arial;
    font-size: 16px;
}
.orange_text16_Bold{
    color: #E46C0A;
    font-family: Arial;
    font-size: 16px;
}
.orange_text18 {
    color: #E46C0A;
    font-family: Arial;
    font-size: 18px;
}
.purple_text12 {
    color: #5A2781;
    font-family: Arial;
    font-size: 12px;
}
.purple_text16_Bold {
    color: #7030A0;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}
.red_text12_Bold {
    color: #FF0404;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
.Aash_text11 {
    color: #646464;
    font-family: Arial;
    font-size: 11px;
}
.Aash_text12 {
    color: #A6A6A6;
    font-family: Arial;
    font-size: 12px;
}
.blue_text12_BOLD {
    color: #1F497D;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}
a.blue_link_12:link {
    color: #1F497D;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}
a.blue_link_12:hover{ text-decoration: underline; }
a.product_link,a.product_link:link {
    color: #376092;
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
}
a.product_link:hover{ text-decoration: underline; }
a.price_link,a.price_link:link {
    color: #E46C0A;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
a.price_link:hover{ text-decoration: underline; }
a.MyAskBazar_link, a.MyAskBazar_link:link {
    color: #7030A0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}
a.MyAskBazar_link:hover{ text-decoration: underline; }
a.orange_link12:link {
    color: #E46C0A;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
a.orange_link12:hover { text-decoration: underline; }
a.search_title_link12:link {
    color: #0000FF;
    font-family: Arial;
    font-size: 12px;
    text-decoration: underline;
}
a.search_title_link12:hover{ color: #C40000; }

.grey-box, .gray-box{ border: 1px solid #BFBFBF; }
.blue-box{ border: 1px solid #B9CDE5; }
.clear{ clear: both; }
.flt-right{ float: right; }
.flt-left{ float: left; }

.red{
    border: 1px solid #FF0000;
}
.green{
    border: 1px solid #159E00;
}
.blue{
    border: 1px solid #0025AD;
}

#container{
    width: 990px;
    margin: 0 auto;
    position: relative;
}

/* Header Region */
#header{
    position: relative;
}
#header .right-block,
#header .free-offer{
    position: absolute;
    right: 0;
    top: 0;
}
#header .right-block{
    margin: 5px 0 0;    
}
#header .free-offer{
    top: 32px;
}
ul.right-block li{
    display: inline-block;
}
ul.right-block li.site-welcome{ padding-right: 35px; }
ul.right-block li.nav a:link,
ul.right-block li.nav a:visited{
    color: #376092;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
ul.right-block li.nav a:hover{
    text-decoration: underline;
}

/* Search bar */
#searchbar{
    background: url("../images/theme/search_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 28px;
    padding: 8px;
    text-align: right;
}
#searchbar ul{position: relative; margin:0; padding:0;}
#searchbar li{ float: left;}
#searchbar .btn-submit{
    background: url("../images/theme/search_btn_bg.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
    width: 90px;
}
#searchbar .search-key, #searchbar .search-location, #searchbar .btn-submit{
    border: 1px solid #000000;
    background-color: #fff;
    margin-right: 5px;
    height: 27px;
    color: #6c6c6c;
}
#searchbar .search-key{ height: 23px; width: 520px;}
#searchbar .search-location{ width: 200px; padding-top: 3px;}
#searchbar .btn-submit{ width: 115px; color: #000;}
#searchbar .advance-search{ padding: 5px 0 0 5px;}
a.advance_search_link,
a.advance_search_link:link {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

/* Left navigation */
#left-nav{
    /*border: 1px solid #BFBFBF;*/
}
.sf-menu .left-nav-title, .sf-menu .left-nav-title:hover{
    background-image: url("../images/theme/bottom_bg_new.jpg");
    background-repeat: repeat-x;
    color: #7030A0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding: 5px 2px 0;
    width: 98%;
    text-align: center;
    height: 28px;
}
.sf-menu a,.sf-menu a:link{
    border-color: #F2F2F2;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    line-height: 5px;
}
.sf-menu a:hover{
    color: #C40000;
    text-decoration: underline;
    background: url("../images/theme/arrow.jpg") no-repeat scroll 174px 9px transparent;
    background-color: #FFF;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover{
    background: url("../images/theme/arrow.jpg") no-repeat scroll 175px 10px transparent;
    height: 25px;
}
.sf-menu .more-cat{
    background: url("../images/theme/more_categories_arrow.jpg") no-repeat scroll 170px 10px transparent;
    height: 30px !important;
}
.sf-menu .more-cat a, .sf-menu .more-cat a:link{
    height: 30px !important;
    color: #E46C0A;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    background: url("../images/theme/more_categories_arrow.jpg") no-repeat scroll 170px 10px transparent;
}
.sf-menu .more-cat a:focus, .sf-menu .more-cat a:hover, .sf-menu .more-cat a:active{
    color: #C40000;
    text-decoration: underline;
    background: url("../images/theme/more_categories_arrow.jpg") no-repeat scroll 170px 10px transparent;
}

/*****************************************************
 *                    Left bar                       *
 ****************************************************/
#leftbar{ width: 200px; }

/*****************************************************
*         Main content (Body content)                *
******************************************************/
#main-content{ width: 785px; }
/* Content top Ad panel */
.content-top-ad-block{
    width: 565px;
    float: left;
}
.content-top-ad-block li{
    float: left;
    width: 278px;
}
.content-top-ad-block li.col2{
    margin-left: 7px;
    margin-bottom: 1px;
}
/* Account Navigation panel */
.account-nav{ width: 205px !important; margin-top: 0 !important; float: right; }
.account-nav .title{text-align: center;}
.account-nav ul li{display: inline-block; margin-bottom: 4px;}
.MyAskBazar_text12_BOLD {
    color: #7030A0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
a.MyAskBazar_link11, a.MyAskBazar_link11:link {
    color: #7030A0;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
a.sign_in_link, a.sign_in_link:link {
    color: #376092;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.myAskBazar_box {
    border: 1px solid #7030A0;
    padding: 6px 4px 2px;
    width: 96%;
    margin-top: 5px;
}
.myAskBazar_PURPLE_box {
    background-image: url("../images/theme/purpal.jpg");
    background-repeat: repeat-x;
    border: 1px solid #7030A0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 54px;
    line-height: 130%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    width: 96%;
    text-align: center;
    margin-top: 5px;
}
.myAskBazar_PURPLE_box_TEXT {
    color: #5A2781;
    font-family: ARIAL;
    font-size: 14px;
    font-weight: bold;
}
.myAskBazar_PURPLE_box_REDTEXT {
    color: #F90000;
    font-family: ARIAL;
    font-size: 14px;
    font-weight: bold;
}

/* Best sell products */
.best-sell-row{ margin-right: 2px;}
.best-sell-prod{ padding: 5px 5px 8px; width: 490px;}
.best-sell-prod ul li{
    padding: 2px 5px;
    width: 143px;
    margin-left: 10px;
}
.best-sell-prod ul li.first{ margin-left: 0; }
.best-sell-right-ad{ width: 275px; }
.best-sell-right-ad ul li{ width: 132px; }
.best-sell-right-ad ul li.col2{ margin-right: 5px; }

/* Featured Products */
.featured-prod{
    background: url("../images/theme/featured_product_BG.jpg") repeat-x scroll 0 0 transparent;
    padding: 5px;
    padding-left: 8px;
}
.featured-prod ul.top-bar{
    height: 60px;
    text-align: center;
    position: relative;
}
.featured-prod li.free-ad{
    left: 200px;
    top: 10px;
    position: absolute;
    width: 450px;
}
.featured-prod li.nav{
    margin-top: 12px;
}
.featured-prod .prod-list li{
    float: left;
    width: 153px;
    margin-bottom: 15px;
}
.FeaturedPro18_BOLD {
    color: #5A2781;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

/* Home Ad row - 3 */
.home-ad-row-3 .col1{ width: 500px; }
.home-ad-row-3 .col2{ width: 270px; }
.home-ad-row-3 .col2 img{ margin-bottom: 6px; }

/***********************************************
*              Footer Region                   *
***********************************************/
#footer{ width: 988px; position: relative; }
.footer-hotmenu{ text-align: right; }
.footer-hotmenu li{ display: inline-block; }
.footer-links{
    background: url("../images/theme/bottom_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 180px;
}
.footer-links ul.links{ float: left; width: 170px; margin-top: 20px; margin-left: 20px; }
.footer-links li{ line-height: 22px; }
.footer-ad{ position: absolute; top: 53px; right: 15px; }
a.bottom_link,a.bottom_link:link {
    color: #0070C0;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}
a.bottom_link:hover{ text-decoration: underline; }
#footer .copyright{
    position: absolute;
    bottom: 25px;
    left: 200px;
}

/*********************************
*         Tab & Corner
*********************************/
.tab ul{ width: 120px; float: left; margin-right: 10px; }
.tab li.link{ width: 100%; text-align: center; padding-top: 8px; }
.result-top-bar li{
    float: right;
    margin-right: 25px;
    padding-top: 8px;
    text-align: right;
    width: 100px;
}
.corner ul{
    height: 30px;
    position: relative;
    background: url("../images/theme/corner_top_middle.jpg") repeat-x scroll 0 0 #EEF2FB;
}
.corner li.left,.corner li.left-top,
.corner li.right,.corner li.right-top{
    position: absolute; width: 20px; margin: 0; padding: 0;
}
.corner .left-top{
    background: url("../images/theme/corner_left_top.jpg") no-repeat scroll 0 0 transparent;
    height: 8px;
    left: 0; top: 0;
}
.corner .left{
    background: url("../images/theme/corner_left.jpg") repeat-y scroll 0 0 transparent;
    height: 22px;
    left: 0; top: 8px;
}
.corner .right-top{
    background: url("../images/theme/corner_right_top.jpg") no-repeat scroll 11px 0 transparent;
    height: 8px;
    right: 0; top: 0;
}
.corner .right{
    background: url("../images/theme/corner_right.jpg") repeat-y scroll 11px 0 transparent;
    height: 22px;
    right: 0; top: 8px;
}

/************************************************
 *                 Page Specific
 ***********************************************/
/* Search Result page */
#breadcrumb{ margin-top: 30px; margin-bottom: 15px;}
#breadcrumb a img{ margin-bottom: -5px; }
.search-result .tab-right-menu{ text-align: right; }
.search-result #searchbar .search-key{ width: 393px;}
.search-result #searchbar{
    width: 720px;
    float: right;
    margin-top: 60px;
    height: 27px;
    padding: 3px;
}
.search-result #searchbar .btn-submit{ margin-right: 0; }
.search-result #header .free-offer{ top: 35; }
.search-result .footer-hotmenu{ text-align: left; }
#result{ width: 760px; float: left; margin-bottom: 50px; }
.result-item-list .item-topbar{ height: 15px; padding: 5px 10px; }
.result-item-list .item-topbar li.left{ float:left; }
.result-item-list .item-topbar li.right{ float:right; margin-left: 20px; }
.result-item-list .item-body .col-left-1{ width: 120px; float: left; padding-top: 5px; }
.result-item-list .item-body .col-left-2{ width: 350px; float: left; padding-top: 5px; }
.result-item-list .item-body .col-right{ width: 200px; float: right; line-height: 16px; }
#result-sidebar{ width: 220px; float: right; margin-top: 30px; }
#refine-search .title, #search-by-prod .title{ text-align: center; padding-top: 5px; }
#refine-search .search-form label, #search-by-prod .search-form label{ 
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    width: 100px;
}
#refine-search .search-form select, #refine-search .search-form input{ width: 100px; }
#refine-search .search-form, #search-by-prod .search-form{ padding-top: 10px; }
#search-by-prod .search-form label{ width: 65px; }
#search-by-prod .search-form input{ width: 120px; }
#search-by-prod .search-form .submit{ margin-left: 30px; width: 90px; }
/************************************************
 *                 Pagination
 ***********************************************/
ul#pagination, ul#pagination li{ list-style: none; text-align: center; }
ul#pagination li{
    color: #7030A0;
    display: inline-block;
    margin: 0 3px;
    padding: 3px 8px;
    background-color: #C4E0ED;
    cursor: pointer;
    border: 1px solid #9AAEB7;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
}
ul#pagination li.current{ color: #FF0000; }
ul#pagination li.no-link{ cursor: default; }